{% extends "base.html" %}
{% block content %}

<h1> Backups do Sistema</h1>
<p>Lista de backups gerados pelo sistema.</p>

<br>

<a href="/backup" class="btn red"> Criar Novo Backup</a>

<br><br>

<div class="card">

<table>
    <tr>
        <th>Arquivo</th>
        <th>Data</th>
        <th>Tamanho</th>
        <th>Ações</th>
    </tr>

    {% for b in arquivos %}
    <tr>
        <td>{{ b.nome }}</td>
        <td>{{ b.data }}</td>
        <td>{{ b.tamanho }} KB</td>
        <td style="display:flex; gap:8px;">

    <a href="/baixar-backup/{{ b.nome }}" class="btn">
        ⬇ Baixar
    </a>

    <a href="/restaurar-backup/{{ b.nome }}"
       class="btn red"
       onclick="return confirm('Tem certeza que deseja restaurar este backup?')">

       ♻ Restaurar
    </a>

</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="4" style="text-align:center;">
            Nenhum backup encontrado.
        </td>
    </tr>
    {% endfor %}
</table>

</div>

{% endblock %}